<table class = "table">
  <thead>
    <tr>
      <th>Journalist</th>
      <th>Title</th>
      <th>Description</th>
      <th>Approved</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% articles.each do |article| %>
      <tr>
        <td><%= article.journalist.email %></td>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>
          <% if article.approved %>
            Yes
          <% else %>
            No
          <% end %>
        </td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
