<div class="card">
  <div class="card-body">
    <h1 style = "font-size:70px">
      <%= @article.title %>
    </h1>

    <h5>
      Author:
      <%= "#{@article.journalist.first_name} #{@article.journalist.last_name}" %>
    </h5>
  </div>
</div>

<br/>

<textarea readonly class="form-control" rows="25"><%= @article.description %></textarea>

<br/>

<% if journalist_signed_in? %>
  <%= link_to 'Back', articles_path, class: "btn btn-primary" %>
<% else %>
  <%= link_to 'Back', root_path, class: "btn btn-primary" %>
<% end %>
