<p id="notice"><%= notice %></p>

<p>
  <strong>Journalist:</strong>
  <%= @article.journalist_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @article.approved %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
