<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= "#{@article.journalist.first_name} #{@article.journalist.last_name}" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Approval Status:</strong>
  <% if @article.approved? %>
    Approved
  <% else %>
    Not approved yet
  <% end %>
</p>

<% if journalist_signed_in? %>
  <%= link_to 'Back', articles_path %>
<% else %>
  <%= link_to 'Back', root_path %>
<% end %>
